.categories {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: inline-block;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all ease 0.2s;
    box-shadow: 0 4px 17px 0px rgb(0 0 0 / 17%);
    &:hover {
      border-color: #40b0ee;
      color: #40b0ee;
    }
  }
  &__linkActive {
    border-color: #40b0ee;
    color: #40b0ee;
  }
}

@media (max-width: 500px) {
  .categories {
    width: 100%;
    margin-bottom: 30px;
    &__link {
      font-size: 14px;
    }
  }
}
