.score {
  &__result {
    flex: 0 0 50%;
  }
  &__lists {
    display: flex;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 13px 0 rgb(25 25 25 / 6%);
  }

  &__resultTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    svg {
      margin-left: 10px;
    }
  }
  &__resultList {
    display: flex;
    flex-direction: column;
    width: 100%;
    &:nth-child(2) {
      text-align: center;
    }
  }

  &__resultItem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f6f1f1;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__number {
    background: #e3e3e3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #6e6e6e;
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
    width: 25px;
    font-size: 12px;
  }
  &__text {
    line-height: 1.5;
  }
}

@media (max-width: 860px) {
  .score {
    &__text {
      flex: 0 0 80%;
    }
  }
}

@media (max-width: 320px) {
  .score {
    &__text {
      font-size: 14px;
    }
  }
}
