//Poppins

@font-face {
  font-family: "PoppinsR";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsM";
  src: url("../font/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsB";
  src: url("../font/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinsI";
  src: url("../font/Poppins/Poppins-Italic.ttf");
}

//Roboto

@font-face {
  font-family: "RobotoR";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoB";
  src: url("../font/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoM";
  src: url("../font/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoI";
  src: url("../font/Roboto/Roboto-Italic.ttf");
}

// @font-face {
//   font-family: "LibreBaskervilleR";
//   src: url("../font/LibreBaskerville-Regular.ttf");
// }

// @font-face {
//   font-family: "LibreBaskervilleB";
//   src: url("../font/LibreBaskerville-Bold.ttf");
// }

// @font-face {
//   font-family: "LibreBaskervilleI";
//   src: url("../font/LibreBaskerville-Italic.ttf");
// }
