@font-face {
  font-family: "RobotoR";
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoB";
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoM";
  src: url("../font/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoI";
  src: url("../font/Roboto-Italic.ttf");
}

@font-face {
  font-family: "LibreBaskervilleR";
  src: url("../font/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "LibreBaskervilleB";
  src: url("../font/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: "LibreBaskervilleI";
  src: url("../font/LibreBaskerville-Italic.ttf");
}
