.registration {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  &__submit {
    margin-bottom: 15px;
  }

  &__buttonLogin {
    text-decoration: underline;
  }
  &__error {
    color: #dd2727;
    font-size: 14px;
    margin-bottom: 20px;
    svg {
      height: 20px;
      margin-right: 5px;
    }
  }
  &__message {
    display: flex;
    align-items: center;
  }
}
.form {
  width: 350px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 20px;
    background: #ffffff;
    box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
    border-radius: 15px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__inputs {
    margin-bottom: 30px;
    width: 100%;
  }
  &__input {
    position: relative;
    margin-bottom: 20px;
  }

  &__buttons {
    text-align: center;
  }

  &__email,
  &__password {
    position: absolute;
    left: 10px;
    top: 12px;
    fill: #7a7171;
  }

  input {
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 16px 8px 16px 45px;
    color: #7a7171;
    width: 100%;
    outline: none;
    box-shadow: 0 4px 17px 0px rgb(0 0 0 / 7%);
    transition: all ease 0.3s;

    &:focus {
      border-color: #40b0ee;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &:placeholder-shown {
      color: #9e9e9e;
      font-size: 13px;
      line-height: 16px;
    }
  }
  button {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 13px 35px;
    border-radius: 30px;
    transition: all ease 0.2s;
    box-shadow: 0 4px 17px 0px rgb(0 0 0 / 7%);
    margin-bottom: 20px;

    outline: none;
    cursor: pointer;

    &:active {
      color: #40b0ee;
      border-color: #40b0ee;
    }

    &:focus {
      color: #40b0ee;
      border-color: #40b0ee;
    }
  }
  a {
    display: block;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}
