.user {
  display: flex;
  justify-content: center;
  margin: 100px 0 20px;
  &__content {
    width: 100%;
  }

  &__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 40px;
  }

  &__email,
  &__date {
    display: flex;
    align-items: center;
    color: #9e9e9e;
    svg {
      fill: #9e9e9e;
      margin-right: 10px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    svg {
      margin-left: 10px;
    }
  }

  &__avatar {
    background: #ffffff;
    box-shadow: 5px 15px 40px rgba(30, 35, 66, 6%);
    border-radius: 15px;
    border-bottom: 1px solid #ccc;
    position: relative;

    img {
      position: absolute;
      top: 0%;
      left: 47%;
      transform: translate(-47%, -50%);
      width: 150px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }

  &__statistics {
    padding: 40px;
    margin-top: 30px;
    width: 100%;
    background: #ffffff;
    box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
    border-radius: 15px;
  }

  &__categories {
    display: flex;
  }
  &__category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24%;
    color: #9e9e9e;
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      color: #40b0ee;
      border-bottom: 2px solid #40b0ee;
    }
  }
  &__categoryActive {
    color: #40b0ee;
    border-bottom: 2px solid #40b0ee;
    .user__circle {
      color: #fff;
      background: #40b0ee;
    }
  }

  &__circle {
    background: #e3e3e3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #6e6e6e;
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
    width: 25px;
    font-size: 12px;
  }

  &__history {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__testTitle {
    text-decoration: underline;
    margin: 0 5px;
  }
}

//Responsive

@media (max-width: 975px) {
  .user {
    &__categories {
      overflow: scroll;
      white-space: nowrap;
    }
  }
}
@media (max-width: 670px) {
  .user {
    &__contact {
      flex-direction: column;
    }
    &__name {
      margin: 15px 0;
    }
  }
}

@media (max-width: 320px) {
  .user {
    &__contact {
      font-size: 12px;
    }
    &__name {
      font-size: 20px;
    }
    &__category {
      font-size: 12px;
    }
  }
}
