.addNote {
  &__tests {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__questionBlock {
    flex: 0 0 49%;
    &:last-child {
      flex: 0 0 40%;
    }
  }

  &__question {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 15px 40px rgb(30 35 66 / 5%);
    padding: 15px;
    border: 2px solid #f05f50;
    border-radius: 5px;
    margin: 20px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__questionAdd {
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    background-color: #007bfe;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all ease 0.1s;
    color: #ffff;
    cursor: pointer;
    &:hover {
      background-color: #4178b1;
    }
  }
  &__questionTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__questionTitle {
  }

  &__confirm {
    font-size: 16px;
    font-family: inherit;
    margin-left: 15px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all ease 0.1s;
    color: #ffff;
    cursor: pointer;
    background-color: #007bfe;
    &:hover {
      background-color: #4178b1;
    }
  }

  &__answersAdd {
    font-size: 14px;
    color: #8b8b8b;
    cursor: pointer;
  }
}
