.header {
  margin-bottom: 30px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
  }
  &__logo {
    width: 100px;
  }
  &__panel {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
  }

  &__listItem {
    margin-right: 15px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__listLink {
    font-size: 20px;
    border-bottom: 1px solid transparent;
    transition: all ease 0.2s;

    &:hover {
      color: #807171;
      padding-bottom: 5px;
      border-bottom: 1px solid #807171;
    }
  }
}

.menuBtn {
  display: none;
  width: 45px;
  height: 45px;
  z-index: 2;
  border-radius: 50%;
  padding: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  span {
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: all ease 0.3s;

    &:nth-of-type(2) {
      top: calc(50% - 6px);
    }
    &:nth-of-type(3) {
      top: calc(50% + 6px);
    }
  }

  &.active span {
    &:first-of-type {
      opacity: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

@media (max-width: 630px) {
  .header {
    margin-bottom: 10px;
    &__list {
      display: none;
      justify-content: space-around;
      position: absolute;
      left: 0;
      bottom: -50px;
      z-index: 2;
      width: 100%;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 2px 13px 0 rgb(25 25 25 / 8%);
      padding: 20px;
      &::after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        z-index: 10;
        border: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        margin-left: -10px;
        right: 100px;
        border-bottom: 10px solid #fff;
        top: -10px;
      }
    }
    &__listActive {
      display: flex;
    }
    &__listItem {
      margin-right: 0;
    }
    &__listLink {
      font-size: 16px;
    }
  }

  .menuBtn {
    display: block;
  }
}

@media (max-width: 400px) {
  .header {
    &__logo {
      width: 75px;
    }
    &__list {
      flex-direction: column;
      bottom: -235px;
    }
    &__listItem {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__listLink {
      font-size: 18px;
      width: 100%;
      display: block;
      border-bottom: 1px solid transparent;
      padding: 10px;
      &:hover {
        color: #40b0ee;
        border: none;
        background: rgba(64, 176, 238, 0.1490196078);
        padding-bottom: 10px;
      }
    }
  }
}
