.addNote {
  &__questions {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__questionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__questionsTitle {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cccc;
    padding-bottom: 10px;
    margin-bottom: 40px;
    &:focus {
      border-color: #ad9e9ecc;
    }
  }
}
