.comments {
  flex: 0 0 30%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(102, 102, 102, 0.05) 0px 60px 30px;
  word-break: break-word;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  &__content {
    font-size: 14px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__length {
  }
  &__block {
    display: flex;
    position: relative;
    margin-bottom: 30px;
  }
  &__avatar {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
    img {
      border-radius: 50%;
      max-width: 100%;
      height: 100%;
    }
  }
  &__info {
  }
  &__infoTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__name {
    font-weight: 600;
  }
  &__date {
    color: #77808c;
  }
  &__text {
    border-radius: 5px;
    background-color: #efefef;
    padding: 5px 5px 5px 10px;
    line-height: 1.5;
  }
  &__reply {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #77808c;
    cursor: pointer;
    svg {
      fill: #77808c;
      margin-right: 10px;
    }
    &:hover {
      color: #4d4d4d;
      svg {
        fill: #4d4d4d;
      }
    }
  }
  &__form {
    width: 100%;
  }
  &__field {
    width: 100%;
    font-family: inherit;
    outline: none;
    resize: none;
    border: none;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 10px;
    &:focus {
      border-color: #77808c;
    }
  }

  &__panel {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  &__edit,
  &__remove {
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;

    svg {
      display: block;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba(183, 206, 216, 0.6);
    }
  }

  &__warning {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  &__button {
    border: none;
    outline: none;
    background-color: #007bfe;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 12px;
    font-family: inherit;
    color: #fff;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: #4178b1;
    }
  }
}
