.comments {
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(102, 102, 102, 0.05) 0px 60px 30px;
  word-break: break-word;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  &__content {
    font-size: 14px;
    padding-right: 20px;
    margin-bottom: 20px;
    max-height: 372px;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      background: #d2d2d2;
      border-radius: 50px;
    }
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgba(70, 70, 70, 0.4);
    }
  }
  &__title {
    margin-bottom: 30px;
    font-size: 16px;
  }
  &__length {
    margin-left: 6px;
  }

  &__form {
    width: 100%;
  }
  &__field {
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    resize: none;
    border: none;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 10px;
    &:focus {
      border-color: #77808c;
    }
  }

  &__warning {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  &__button {
    border: none;
    outline: none;
    background-color: #007bfe;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 12px;
    font-family: inherit;
    color: #fff;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: #4178b1;
    }
  }
}

@media (max-width: 1100px) {
  .comments {
    flex: 0 0 48%;
  }
}
@media (max-width: 500px) {
  .comments {
    padding: 20px;
  }
}
