.notes {
  &__sorted {
    display: flex;
    align-items: center;
    font-size: 18px;
    position: relative;
  }

  &__pick {
    border-bottom: 1px dashed #fe5f1e;
    color: #d64a4a;
    cursor: pointer;
  }
}

@media (max-width: 420px) {
  .notes {
    &__sorted {
      width: 100%;
    }
  }
}
